.house-infos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 100px;
    flex-wrap: wrap;
  }
  
  .house-infos-details {
    display: flex;
    flex-direction: column;
  }
  
  .house-title {
    color: #ff6060;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
  }
  
  .house-location {
    font-size: 1rem;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
  }
  
  .house-tags {
    color: white;
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }
  .tag {
    background: #ff6060;
    margin: 0.8rem 0;
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .house-host-rating {
    display: flex;
    flex-direction: column;
  }
  
  .host-infos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .host-profil {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
  
  .host-name {
    width: 93px;
    width: 52px;
    font-size: 18px;
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
  }
  
  .host-rating {
    margin: 1rem 0;
  }
  .stars {
    text-align: right;
    font-size: 30px;
  }
  
  
  @media only screen and (max-width: 443px) {
    
    .house-infos-details {
      flex: 1 1 100%;
    }
    .house-tags {
      justify-content: center;
      align-items: center;
    }
    .house-host-rating {
      flex-direction: row-reverse;
      flex: 1 1 100%;
      justify-content: space-between;
    }
    .stars {
      
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .house-infos-container{
      margin: 2rem 20px;
    }
  }