.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    border-radius: 25px;
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;

  }
  
  .left-arrow {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }
  
  .right-arrow {
    position: absolute;
    right: 10px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 443px) {
    .sliders {
      margin: 20px;
    }
    .slide-image {
      height: 255px;
    }
    .left-arrow,.right-arrow{
      font-size: 2rem;
    }
  }